body{
	background-image: url("https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg");
	background-position: fill;
	box-sizing:border-box;
    font-family: 'Patrick Hand SC', cursive;
}
.home-page{
	height:900px;
	display:flex;
	justify-content:center;
	align-items: center;
}
.hidden{
	display: none;
}
.header-container{
	text-align:center;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.home-page-title{
	font-size:100px;
	font-family: 'Amatic SC', cursive;
}
h1{
	font-size:50px;
}
h2{
	border-top:3px solid black;
	border-bottom:3px solid black;
	display:inline-block;
    color:white;
}
i{
	margin-left:10px;
}
.navbar{
	background-color: #708090;
	border-bottom:5px double white;
	height:65px;
}
.brand-image {
	height:45px;
	width:45px;
	margin-top:auto;
	margin-bottom:auto;
}
	
.navbar-brand h3,.navbar-brand div{
	display:inline-block;
}


.location-info-container{
	width:1250px;
	padding:10px;
	font-size:20px;
}
ul {
	list-style: none;
}
.section-container{
	padding:10px;
	border:5px double black;
	margin-top:10px;
}

.venue-list{
	height:500px;
	overflow:scroll
}
.venue{
	display:flex;
	border:1px solid black;
}
.venue-image-size{
	width:250px;
	height:175px;
}
.video-container{
	border:5px double black;
}
.video-container h2{
	color:black;
}

.event-name{
	color:black;
}

.js-event-list li{
	border-bottom:2px solid white;
	color:white;
}

.outdoor-venues-container{
	display:flex;
	overflow:scroll;
}
.card{
	text-align: center;
	color:white;
}
.card:hover{
	font-size:25px;
	font-weight:bolder;
}
.card:hover .card-img{
	opacity:1;
}
.card:hover h4{
	font-size:35px;
}
.card-img{
	height:300px;
	width:300px;
	opacity:.6;
}
.card-img-overlay{
	padding-top:50px;
}
.bottom{
	position:absolute;
	bottom:10px;
}

.photo-list{
	display:flex;
	overflow-x:scroll;
	min-height:225px;
}
.photo-list li{
	margin:2px;
}
.image{
	height:250px;
	min-width:250px;
	border:1px;
	border-radius:10px;
}
.food-photo img {
    -webkit-transition: height 1s, min-width 1s;
    transition: height 1s, min-width 1s;
}

.food-photo:hover img {
	height:275px;
	min-width:300px;
}
.food-venues-container{
	height:500px;
	overflow:scroll;
}
.food-venue{
	display:flex;
	border:1px solid white;
	color:white;
}
.fa-tree{
	color:green;
}
.fa-music{
	color: black;
}
.fa-coffee{
	color:silver;
}
.fa-youtube-play{
	color:red;
}
footer{
	text-align:right;
	color:white;
}